body{
    background-color: #F8DDF4;
    /* background-image: url('./images/bedroom.jpg'); */
    /* background-repeat: no-repeat;
    background-attachment: fixed; */
    background-size: cover;
    background-size: 100% 100%;
    overflow: scroll;
    font-family: 'Lobster', cursive;
}
.container{
    font-size: large;
    text-align: center;
    margin-left: 25%;
    margin-right: 25%;
    color: #B84181;
    text-shadow: 3px 3px #FAA262;
}
input{
    resize: none;
    font-family: 'Lobster', cursive;
    background-color: #F8DDF4;
    color: #A35E7A;
    border: 3px solid #B84181;
    border-radius: 4px;
    overflow: scroll;
    text-align: justify;
}
input:hover{
    border: 3px solid #A0593A;
}
textarea{
    resize: none;
    background-color: #F8DDF4;
    color: #A35E7A;
    border: 3px solid #B84181;
    border-radius: 4px;
    font-style: x-large;
    font-family: Arial, Helvetica, sans-serif;
}
textarea:hover{
    border: 3px solid #A0593A;
}

#entry{
    height: 20vh;
    width: 50vw;
}

button{
    margin: 8px;
    font-size: medium;
    font-family: 'Lobster', cursive;
    color: #B84181;
    text-shadow: 3px 3px #FAA262;
    background-color: #F8DDF4;
    border: none;
}
button:hover{
    border-radius: 4px;
    background-color: #B84181;
    text-shadow: none;
    color: #F8DDF4
}
img{
    border: 3px solid #C06874;
}